# Issue Testing via n8n workflow

## Test 1

n8n workflow\
<img width="1314" height="605" alt="Test 1 workflow" src="https://github.com/user-attachments/assets/f19a95d5-74c3-4890-a29a-b921f74faff4" />

Updated row in github_issue_ledger\
<img width="1635" height="172" alt="test 1 ledger pic" src="https://github.com/user-attachments/assets/042cc189-623a-4e75-af75-718e816c7f52" />

Updated row in github_issue_route_log\
<img width="1649" height="179" alt="test 1 route log" src="https://github.com/user-attachments/assets/ec66de04-c59e-47ac-acd0-78a1b5a0afaa" />


## Test 2

n8n workflow\
<img width="1483" height="725" alt="test 2 workflow" src="https://github.com/user-attachments/assets/13a1fdac-9f81-4c15-a25c-be3f9f4c81c0" />

Updated row in github_issue_ledger\
<img width="1687" height="25" alt="Screenshot 2026-10-11 at 7 08 54 PM" src="https://github.com/user-attachments/assets/c5599c55-1993-4447-8ffe-d492d4640d1e" />

Updated row in github_issue_route_log\
<img width="1285" height="58" alt="Screenshot 2026-10-11 at 7 09 35 PM" src="https://github.com/user-attachments/assets/bfb8c2aa-589c-4f65-a266-5993663f25fd" />


## Test 3

n8n workflow\
<img width="1454" height="704" alt="test 3 workflow" src="https://github.com/user-attachments/assets/2be22f60-24c7-47ca-8e0e-56c2820499fb" />

Updated row in github_issue_ledger\
<img width="1629" height="39" alt="Screenshot 2026-10-11 at 7 24 12 PM" src="https://github.com/user-attachments/assets/4694f459-57a5-4f6f-b2b2-4c7862501a83" />

Updated row in github_issue_route_log\
<img width="1260" height="44" alt="Screenshot 2026-10-11 at 7 22 54 PM" src="https://github.com/user-attachments/assets/7c0aa001-abd1-48bf-98ce-fb4778e79215" />


## Test 4

n8n workflow\
<img width="1494" height="574" alt="test 4 workflow" src="https://github.com/user-attachments/assets/801336b0-7347-4a40-bcb1-4490d412f069" />

Updated row in github_issue_ledger\
<img width="1586" height="41" alt="Screenshot 2026-10-11 at 7 41 43 PM" src="https://github.com/user-attachments/assets/8e51aac7-8dbf-4cbb-915e-61fe6bc53960" />

Updated row in github_issue_route_log\
<img width="1311" height="56" alt="Screenshot 2026-10-11 at 7 35 21 PM" src="https://github.com/user-attachments/assets/dcda363a-911f-456e-990b-53fc0676f5b5" />


